<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:include="/_menu"></th:block>
<div>
    <a th:href="@{'/admin/account'(page=${accounts.number - 1})}" th:if="${accounts.hasPrevious()}">Previous</a>
    <span th:text="${accounts.number + 1}"></span>/<span th:text="${accounts.totalPages}"></span>
    <a th:href="@{'/admin/account'(page=${accounts.number + 1})}" th:if="${accounts.hasNext()}">Next</a>
</div>
<table border="1">
    <tr>
        <th>User Name</th>
        <th>Address</th>
        <th>Full Name</th>
        <th>Birthday</th>
        <th>is locked</th>
        <th>role</th>
        <th>Action</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="p : ${accounts}">
        <tr>
            <td th:text="${p.userName}"></td>
            <td th:text="${p.address}"></td>
            <td th:text="${p.fullName}"></td>
            <td th:text="${p.birthday}"></td>
            <td> <span th:if="${p.isLocked}">tài khoản mở</span>
                <span th:if="${!p.isLocked}">tài khoản đóng</span> </td>
            <td th:text="${p.role}"></td>
            <td> <a th:if="${p.isLocked}" th:href="@{/lock-open/__${p.id}__ }">khóa tài khoản</a>
                <a th:if="${!p.isLocked}" th:href="@{/lock-open/__${p.id}__ }">mở tài khoản</a> </td>
            <td><a th:href="@{/edit-account/__${p.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-account/__${p.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>